google-generativeai
python-dotenv
streamlit
numpy
pandas
scikit-learn
nltk
requests
PyPDF2
faiss-cpu
groq
langchain-groq
langchain_google_genai
langchain
langchain_community
pypdf
google-cloud-aiplatform>=1.38
pillow
streamlit-option-menu==0.3.12
